*{
    padding: 2;
    margin: 2;
    box-sizing: border-box;
}

.main {
    background: url(images\background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
}

.main h3 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

.main h6 {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1;
    color: white;
    border: 3px solid #f3c57a;
    width: 60%;
}

.main .bt1 {
    height: 55px;
    width: 138px;
    background-color: #18101d;
    color: #f3c57a;
    outline: none;
    border: 1px solid #f3c57a;
    font-weight: bold;
    border-radius: 5px;
}

.main .bt1:hover {
    background-color: #f3c57a;
    transition: 0.5s;
    color: #18101d;
}

.project {
    background-color: #18101d;
    color: #f3c57a;
}

.tools {
    background-color: #18101d;
    color: #f3c57a;
}

.tools h5 {
    color: #f3c57a;
}

.about {
    background-color: #18101d;
    color: #f3c57a;
}

.about h1 {
    font-size: 3rem;
    font-weight: 900;
}

.contact {
    background-color: #18101d;
    color: #f3c57a;
}

.contact .btn2 {
    background-color: #f3c57a;
    color: #18101d;
    outline: none;
    border: none;
    font-weight: bold;
    height: 40px;
    width: 140px;
}

.contact .btn2:hover {
    background-color: #18101d;
    transition: 0.3s;
    color: #f3c57a;
    border: 1px solid #f3c57a;
    border-radius: 5px;
}